.drawer {
    position: fixed;
    width: 320px;
    top: 0;
    z-index: 1050;
    height: 100vh;
    display: none;
}

.drawer.drawer-left {
    left: -320px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.drawer.show {
    -webkit-transform: none;
    transform: none;
}

.drawer.slide {
    transition: left 0.2s ease, right 0.2s ease;
}

.drawer.show.drawer-left {
    left: 0;
}